body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: black;
}

canvas {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

#invadersCount {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 99;
    font-family: sans-serif;
}

#livesCtn {
    position: absolute;
    top: 50;
    left: 0;
    z-index: 99;
    width: 100px;
    height: 10px;
    margin: 20px;
    border: 1px solid white;
    display: none;
}

#livesCtn .shieldBar {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .8);
    
}

#livesCtn.on {
    display: flex;
}

.lives-block {
    position: relative;
    transform: scale(.15);
    transform-origin: top left;
    width: 30px;
    height: 10px;
    display: none;
}

#menu {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    color: white;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    display: none;
}

#menu.on {
    display: flex;
}


.space-land{
    width: 70px;
    height: 85px;
    margin-bottom: 50px;
}

#menu .title {
    font-size: 2rem;
    font-weight: 700;
}

#menu .message {
    margin-top: 80px;
    font-size: 18px;
    opacity: 1;
    animation: bling 1s steps(1, end) infinite;
}

@keyframes bling {
    50% {
        opacity: 0;
    }
}


.controls{
    display: none;
}

.controls.on{
    margin-top: 80px; 
    color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(255, 255, 255, .4);
    padding: 50px;
    border-radius: 20px;
    display: block;
    backdrop-filter: blur(2px);
}

.controls .controls-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.controls .controls-sec{
    display: flex;
}

.controls .controls-keys{
    margin-left: 50px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
}

.controls .controls-exps{
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    
}